/* Home.css */

body {
    background-color: #1a7fc8;;
    font-family: sans-serif;
  }

  .mainContainer-Home {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 20px;
    background-color: white;
    padding: 40px 30px 30px 30px;
    border-radius: 10px;
    width: 400px;
  }
  
  
  .titleContainer-Home {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .buttonContainer-Home {
    margin-top: 20px;
  }
  
  .inputButton-Home {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  .inputButton-Home:hover {
    background-color: #45a049;
  }
  